body   {
    color: black;
}


.question {
    font-size: 20pt;
}

p.choice-text {
    color: white;
}
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color:purple;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: black;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding:2rem 2.5rem;
    color: white;
}

.choice-text {
padding: 2rem;
width: 100;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/*heads up display */
.hud {
  display: flex;
  justify-content: space-between;  
}

.hud-prefix{
    text-align: center;
    font-size: 20px;
}

.hud-main-text {
    text-align: center;
}

.progresBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid black;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
} 

.progressBarFull {
    height: 100;
    background: gold;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-containter {
        min-width: 40rem;
    }
}